.login-background {
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    min-height: 25em;
    height: 70vh;
}

@media (max-width: 962px) {
    .login-page {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 963px) {
    .login-page {
        display: flex;
        flex-direction: row;
    }
}