html {
    font-family: "Futura LT Pro Book";
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255,255,255,0.75);
    text-align: left;
    background-color: rgb(255,255,255);
}