.our_story.cover_container {
    height: 70vh;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 70%;
    width: 100%;
}

.our_story.row {
    flex-wrap: wrap;
    padding-bottom: 2em;
}

@media screen and (max-width: 962px) {
    .our_story.text_container {
        display: flex;
        flex: 100%;
        max-width: 100%;
        flex-direction: column;
        align-items: center;
    }

    .our_story.image_container {
        flex: 100%;
        max-width: 100%;
    }
}

@media screen and (min-width: 963px) {
    .our_story.text_container {
        display: flex;
        flex: 50%;
        max-width: 50%;
        flex-direction: column;
        align-items: center;
    }

    .our_story.image_container {
        flex: 50%;
        max-width: 50%;
    }
}