{% load static %}

<div class="cookiealert" role="alert">
    <div id="cookiealert-text">
        <p>
            This website uses its own and third-party cookies to improve its services and to obtain anonymous statistical data on with regards to use of the site. By continuing your visit to our site, you are expressly accepting the terms of the <a href="privacy_policy.html" target="_blank">Privacy Policy</a>
        </p>
    </div>
    <div id="cookiealert-button">
        <button type="button" class="acceptcookies md-button-light" aria-label="Close" style="border-image-source: url({% static 'img/border_black.svg' %});">
        ACCEPT
        </button>
    </div>
</div>