{% load static %}

<nav class="navbar" style="background-image: url({% static 'img/navigation_bar_top_wide.svg' %});">
    <div class="navbar-frame">
        <div class="logo-container">
            <div class="logo_frame">
                <a class="navbar-brand" href="{% url 'public:index' %}" style="background-image: url({% static 'img/logo.svg' %});"></a>
            </div>
            <div>
                sd
            </div>
        </div>
        <div class="collapse navbar-collapse" id="navcol-1">
            dsakdjsa lkdjsalkd jsalkd jsalkdjsa ldjsa lkdjsadlk sadlksaj dlksa jlk jdlksalkaj
        </div>
        <div class="login-container">MARKO!!!!!</div>
    </div>
</nav>

