<div>
    <span><a href="{% url  'public:index' %}">Home</a></span>
    <span style="float: right">
        {% if user.is_authenticated %}
            {% url 'accounts:profile' as profile_url %}
            <span>Hi {% if request.path == profile.url %}{{ user.username }}{% else %}<a href="{{ profile_url }}">{{ user.username }}</a>{% endif %}!</span>
            <span><a href="{% url 'accounts:logout' %}">Logout</a></span>
        {% else %}
            <span><a href="{% url 'accounts:login' %}">Login</a></span>
        {% endif %}
    </span>
</div>

@media (min-width: 1021px) {
    .navigation_bar_frame {
        display: flex;
    justify-content: center;
  }
}


#mobile-menu:is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu:is-active .bar:nth-child(1){
        transform: translate(8px);
    }




