{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="white">
        <div class="our_story cover_container" style="background-image: url({% static 'img/our_story_banner.jpg' %})"></div>
        <div class="plain_divider big" style="background-image: url({% static 'img/divider.svg' %});"></div>
    </section>

    <section class="white">
        <div class="our_story row">
            <div class="our_story image_container"></div>
            <div class="our_story text_container">
                <p id="our_story_text">In the heart of a small hilly region in the north of Croatia, somewhere between forests, fields and streams, the magic of natural remedies turns into a unique elixir: the craft gin of Murska Dekla. This mystic creature from Međimurje, the spirit of water and the goddess of nature, Murska Dekla treasures a secret of nature, a special recipe that distills a wealth of herbs.<br></p>
                <p id="our_story_text">Using the traditional distilling techniques of our ancestors, we produce small batches of exquisite spirits. From the traditional copper pot stills, through the crystal clean water, carefully selected mix of herbs and spices, and aromatic oak barrels, each bottle of our gin gains a full taste and first-class quality that we are proud of. </p>
            </div>
        </div>
    </section>
{% endblock %}